﻿@using SignalRMVCChat.Areas.security.Service
@using SignalRMVCChat.DependencyInjection
@using SignalRMVCChat.Models
@using SignalRMVCChat.Service
@model PluginCustomized

@{
    ViewBag.Title = "سفارشی سازی پلاگین";
    Layout = "../../Views/Shared/_Layout_Customer.cshtml";



}


<script src="~/Content/jscolor.js" type="text/javascript"></script>

<style>
    input {
        direction: ltr;
        text-align: left;
    }

    .iconPlace * { font-size: 16px; }
</style>

<div class="card">
    <div class="card-header">
        <h5>@ViewBag.Title </h5>
    </div>
    <div class="card-block">


        @using (Html.BeginForm("Save", "PluginCustomized", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.MyWebsiteId)
            @Html.Hidden("Id", Model.Id)
            @Html.ValidationSummary("", new {@Class = "text-danger"})

            <input type="submit" value="ثبت" class="btn btn-primary" style="z-index: 99; width: 100px;position: fixed;top: 130px;left: 150px" />
                        <hr/>
<div class="row">
            
                             <div class="form-group col-md-6">
                                                        <label id="iconPlace">
                                                            @Html.Raw(Model.Icon)
                                                        </label>
                                        
                                        
                                                        <input id="Icon" name="Icon" class="form-control" hidden="hidden" value="@Model.Icon"/>
                                                        <button onclick="selectIcon()" type="button" class="btn btn-default">انتخاب آیکون</button>
                                                    </div>
                            <div class="form-group col-md-6">
                           <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/icon.png" />
                   
                            </div>
                        </div>
                       
            
                        
                        <div class="row">
            
                               <div class="form-group col-md-6">
                                            <label>
                                                اندازه آیکون
                                            </label>
                                 @Html.EditorFor(m => m.IconSize, new {htmlAttributes = new {@Class = "form-control colorSelector"}})
                                        </div>
                            <div class="form-group col-md-6">
                                                                                          <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/iconSize.png" />
                            
                            </div>
                        </div>
            <div class="row">
               
                <div class="form-group col-md-6">
                    <label>
                        رنگ پس زمینه شروع چت
                    </label>
                    @Html.EditorFor(m => m.StartBackGroundColor, new {htmlAttributes = new {@Class = "form-control colorSelector", @data_jscolor = ""}})
                </div>
                   <div class="form-group col-md-6">
                                                                     <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/startColor.png" />
                                            
                                                            </div>
            </div>
            <div class="row">


          
                <div class="form-group col-md-6">
                    <label>
                        رنگ فونت شروع چت
                    </label>
                    @Html.EditorFor(m => m.StartColor, new {htmlAttributes = new {@Class = "form-control colorSelector", @data_jscolor = ""}})
                </div>
                  <div class="form-group col-md-6">
                                            <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/startColor.png" />
                
                            </div>
                </div>
                
            <div class="row">

                <div class="form-group col-md-6">
                    <label>
                        نوشته ابتدایی شروع چت
                    </label>

                    @Html.EditorFor(m => m.StartText, new {@Class = "form-control"})
                </div>
                
                  <div class="form-group col-md-6">
                    <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/startfont.png" />
                                
                                            </div>
            </div>
            @*<div class="row">

                
                   <div class="form-group col-md-6">
                                                
                                                            </div>
            </div>*@
            <div class="row">

                   <div class="form-group col-md-6">
                                <label>
                                    فاصله افقی از بالا دایره شروع چت
                                </label>
                
                                @Html.EditorFor(m => m.StartTop, new {@Class = "form-control"})
                            </div>
                <div class="form-group col-md-6">
                               <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/distance.png" width="150" height="150" />
                           
                </div>
            </div>
             
            <div class="row">
   <div class="form-group col-md-6">
                <label>
                    فاصله عمودی از چپ دایره شروع چت
                </label>

                @Html.EditorFor(m => m.StartLeft, new {@Class = "form-control"})
            </div>
                
                <div class="form-group col-md-6">
                                  <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/distance.png" width="150" height="150" />
                       
                </div>
            </div>

         
            <div class="row">

                  <div class="form-group col-md-6">
                                <label>
                                    میزان دایره ای بودن شروع چت
                                </label>
                     @Html.EditorFor(m => m.StartBorderRadius, new {@Class = "form-control"})
                            </div>
                <div class="form-group col-md-6">
                                 <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/circleness.png" />
                                   
                </div>
            </div>

          


            @*<div class="row">

                   <div class="form-group col-md-6">
                                <label>
                                    حداقل ارتفاع پنل
                                </label>
                                 @Html.EditorFor(m => m.GapContentMinHeight, new {@Class = "form-control"})
                            </div>
                <div class="form-group col-md-6">
                        <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/min-height.png" width="150" height="150"/>
              
                </div>
            </div>*@
         

            
            @*<div class="row">
  <div class="form-group col-md-6">
                <label>
                    حداکثر ارتفاع پنل
                </label>

  @Html.EditorFor(m => m.GapContentMaxHeight, new {@Class = "form-control"})
            </div>
                
                <div class="form-group col-md-6">
                        <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/max-height.png" width="150" height="150"/>
                                   
                </div>
            </div>*@
          
            
            
            @*
            <div class="row">
  <div class="form-group col-md-6">
            
                <label>
                    عرض پنل
                </label>
  @Html.EditorFor(m => m.GapContentWidth, new {@Class = "form-control"})
  </div>
                
                <div class="form-group col-md-6">
                                                <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/width.png" width="150" height="150"/>
                                    
                </div>
            </div>
            *@
          

  
            <div class="row">
  <div class="form-group col-md-6">
                <label>
                    رنگ پس زمینه پنل
                </label>
         @Html.EditorFor(m => m.GapContentBgColor, new {htmlAttributes = new {@Class = "form-control", @data_jscolor = ""}})
            </div>
                
                <div class="form-group col-md-6">
                                                        <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/panelBackgroundColor.png" width="150" height="150"/>
                                   
                </div>
            </div>
          


            
            <div class="row">

                 <div class="form-group col-md-6">
                                <label>
                                    رنگ فونت پنل
                                </label>
                  @Html.EditorFor(m => m.GapContentColor, new {htmlAttributes = new {@Class = "form-control", @data_jscolor = ""}})
                            </div>

                <div class="form-group col-md-6">
                                <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/panelFontColor.png" width="150" height="150"/>
                                  
                </div>
            </div>
           
          

            
            <div class="row">
  <div class="form-group col-md-6">
                <label>
                    رنگ پس زمینه گفتگو
                </label>
          
                @Html.EditorFor(m => m.ChatBgColor, new {htmlAttributes = new {@Class = "form-control", @data_jscolor = ""}})
            </div>
                
                <div class="form-group col-md-6">
               <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/chatPanelBgcolor.png" width="150" height="150"/>
                                   
                </div>
            </div>
          


            <div class="row">
     <div class="form-group col-md-6">
                <label>
                    رنگ پس زمینه چت های ارسال
                </label>
      @Html.EditorFor(m => m.GapMeBgColor, new {htmlAttributes = new {@Class = "form-control", @data_jscolor = ""}})
            </div>
                
                <div class="form-group col-md-6">
                          <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/sendChatColor.png" width="150" height="150"/>
                                  
                </div>
            </div>
       

            
            <div class="row">
   <div class="form-group col-md-6">
                <label>
                    رنگ فونت چت های ارسال
                </label>
   @Html.EditorFor(m => m.GapMeColor, new {htmlAttributes = new {@Class = "form-control", @data_jscolor = ""}})
            </div>
            
                
                <div class="form-group col-md-6">
                                      <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/sendChatColor.png" width="150" height="150"/>
                                   
                </div>
            </div>
         
            
            <div class="row">

                  <div class="form-group col-md-6">
                                <label>
                                    رنگ پس زمینه دریافت
                                </label>
                       @Html.EditorFor(m => m.GapHeBgColor, new {htmlAttributes = new {@Class = "form-control", @data_jscolor = ""}})
                            </div>
                            
                <div class="form-group col-md-6">
                                  <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/receiveChatColor.png" width="150" height="150"/>
                                   
                </div>
            </div>

          
            
            <div class="row">
 <div class="form-group col-md-6">
                <label>
                    رنگ فونت دریافت
                </label>
  @Html.EditorFor(m => m.Color, new {htmlAttributes = new {@Class = "form-control", @data_jscolor = ""}})
            </div>

                
                <div class="form-group col-md-6">
                                                 <img onclick='showImageMaximized(this)'  src="~/Content/HelpImages/receiveChatColor.png" width="150" height="150"/>
                                  
                </div>
            </div>

           

            
            
         
            <hr/>
            <input type="submit" value="ثبت" class="btn btn-primary"/>
        }


    </div>
</div>


<div id="gapPlugin"></div>
@{
    int? websiteId = ViewBag.websiteid;
    var myWebsiteService = Injector.Inject<MyWebsiteService>();
    string myWebsiteToken = null;
    MyWebsite myWebsite = null;
    if (websiteId.HasValue)
    {
        var website = myWebsiteService.GetById(websiteId.Value);
       // myWebsiteToken = myWebsiteService.GetWebsiteToken(websiteId.Value);
        myWebsite = myWebsiteService.GetById(websiteId.Value).Single;
    }
}
@if (myWebsite != null)
{
    @Html.Partial("ExampleJsPlugin", myWebsite, null)
}

<div style="display: none">
    <button id="openModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">انتخاب آیکون</h4>
            </div>
            <div class="modal-body">

                <div id="icons-selectList" style="padding-bottom: 50px">
                    @Html.Partial("FontsList")
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>


@section scripts{


    <script>
        function selectIcon() {
            document.getElementById('openModal').click();
        }

        var element;

        $(document).ready(function() {

            $('input').addClass('form-control')


            $('#icons-selectList span').innerText = '';
            $('.fa-hover').click(function() {

                let i = $(this).find('i');

                let div = document.createElement('div');
                div.append(i.clone()[0])


                $('#Icon').val(div.innerHTML);

                $('#iconPlace').html(i.clone())

                $('#myModal').modal('hide');
            })
        })
        
        
        
function closeImgPreview(el) {
    let maxImgPrev = document.getElementById('maxImgPrev');
    if (maxImgPrev) {
        maxImgPrev.remove();
    }
}

function showImageMaximized(el) {

    closeImgPreview();


    var w = window.innerWidth + "px";
    var h = window.innerHeight + "px";

    let img = createElementFromHTML(
        `<div  id="maxImgPrev"><div style="    z-index: 999999;background-color:black;opacity:0.5; position:absolute;top:0px;left:0px;right:0px;bottom:0px;
width:1000%;height:1000%;"></div><div style="z-index:999999999;margin:10%;  position:absolute;top:0px;left:0px;right:0px;bottom:0px;
width:100%;height:100%;"><img src="${el.src}" style="width:80%;height:80%;max-width:${w};max-height: ${h}"/>
<button type="button" onclick="closeImgPreview(this)">x</button>
</div></div>`);

    document.querySelector('body').append(img);

  $("html, body").animate({ scrollTop: 0 }, "slow");

}

    </script>
}

