﻿@model SignalRMVCChat.Areas.security.Models.RegisterViewModel
@{
    ViewBag.Title = "ثبت نام جدید گپ افزونه چت پشتیبانی وب سایت ";
}

<h2>@ViewBag.Title.</h2>

 <style>
         .login-container{
             margin-top: 5%;
             margin-bottom: 5%;
         }
         .login-form-1{
             padding: 5%;
             box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
         }
         .login-form-1 h3{
             text-align: center;
             color: #333;
         }
         .login-form-2{
             padding: 5%;
             background: #0062cc;
             box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
         }
         .login-form-2 h3{
             text-align: center;
             color: #fff;
         }
         .login-container form{
             padding: 10%;
         }
         .btnSubmit
         {
             width: 50%;
             border-radius: 1rem;
             padding: 1.5%;
             border: none;
             cursor: pointer;
         }
         .login-form-1 .btnSubmit{
             font-weight: 600;
             color: #fff;
             background-color: #29b3d2;
         }
         .login-form-2 .btnSubmit{
             font-weight: 600;
             color: #0062cc;
             background-color: #fff;
         }
         .login-form-2 .ForgetPwd{
             color: #fff;
             font-weight: 600;
             text-decoration: none;
         }
         .login-form-1 .ForgetPwd{
             color: #29b3d2;
             font-weight: 600;
             text-decoration: none;
         }
 
         input{
             border: #29b3d2 solid 1px !important;
         }
 
         .form-group{
             text-align: right;
         }
         .form-group *{
             text-align: right;
         }
     </style>


<h2>@ViewBag.Title.</h2>
<section class="banner bg-4" id="home">
    <div class="container">
        <div class="row">
            <div class="container login-container">
                <div class="row">
                    <div class="col-md-12 login-form-1">
                        <h3></h3>
                       @using (Html.BeginForm("RegisterAdmin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                       {
                           @Html.AntiForgeryToken()
                           <h4>Create a new account.</h4>
                           <hr />
                           @Html.ValidationSummary("", new { @class = "text-danger" })
                           <div class="form-group">
                               @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                               <div class="col-md-10">
                                   @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                               </div>
                           </div>
                           <div class="form-group">
                               @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                               <div class="col-md-10">
                                   @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                               </div>
                           </div>
                           <div class="form-group">
                               @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                               <div class="col-md-10">
                                   @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                               </div>
                           </div>
                           <div class="form-group">
                               <div class="col-md-offset-2 col-md-10">
                                   <input type="submit" class="btn btn-default" value="ثبت نام مدیر سایت" />
                               </div>
                           </div>
                       }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
