﻿@model SignalRMVCChat.Areas.security.Models.RegisterViewModel
@{
    ViewBag.Title = "ثبت نام جدید گپ افزونه چت پشتیبانی وب سایت ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
    if (ViewBag.ReturnUrl == null)
    {
        if (Request.Params["requestUrl"] != null)
        {
            ViewBag.ReturnUrl = Request.Params["requestUrl"];
        }
    }
}

 <style>
 .text-danger *{
 color: red !important; 
 }
         .login-container{
             margin-top: 5%;
             margin-bottom: 5%;
         }
         .login-form-1{
             padding: 5%;
             box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
         }
         .login-form-1 h3{
             text-align: center;
             color: #333;
         }
         .login-form-2{
             padding: 5%;
             background: #0062cc;
             box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
         }
         .login-form-2 h3{
             text-align: center;
             color: #fff;
         }
         .login-container form{
             padding: 10%;
         }
         .btnSubmit
         {
             width: 50%;
             border-radius: 1rem;
             padding: 1.5%;
             border: none;
             cursor: pointer;
         }
         .login-form-1 .btnSubmit{
             font-weight: 600;
             color: #fff;
             background-color: #29b3d2;
         }
         .login-form-2 .btnSubmit{
             font-weight: 600;
             color: #0062cc;
             background-color: #fff;
         }
         .login-form-2 .ForgetPwd{
             color: #fff;
             font-weight: 600;
             text-decoration: none;
         }
         .login-form-1 .ForgetPwd{
             color: #29b3d2;
             font-weight: 600;
             text-decoration: none;
         }
 
         input{
             border: #29b3d2 solid 1px !important;
         }
 
         .form-group{
             text-align: right;
         }
         .form-group *{
             text-align: right;
         }

     #home *{
         direction:rtl;
     }
     </style>

<section class="banner bg-4" id="home" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="container login-container">
                <div class="row">
                    <div class="col-md-12 login-form-1">
                        <h3></h3>
                       @using (Html.BeginForm("Register", "Account", new { requestUrl = ViewBag.ReturnUrl },FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                       {
                           @Html.AntiForgeryToken()
                           @Html.ValidationSummary("", new { @class = "text-danger" ,style="color:red !important;text-align: right    "})
                           <div class="form-group">
                               <div class="col-md-10">
                                   @Html.TextBoxFor(m => m.Name, new {@id="Name", @class = "form-control" })
                               </div>
                               @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                           </div>
                           <div class="form-group">
                               <div class="col-md-10">
                                   @Html.TextBoxFor(m => m.LastName, new {  @id="LastName",@class = "form-control" })
                               </div>
                               @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                           </div>
                           <div class="form-group">
                               <div class="col-md-10">
                                   @Html.TextBoxFor(m => m.Email, new { @id="Email", @class = "form-control" })
                               </div>
                               @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                           </div>
                           <div class="form-group">
                               <div class="col-md-10">
                                   @Html.PasswordFor(m => m.Password, new { @id="Password",@class = "form-control" })
                               </div>
                               @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                           </div>
                           <div class="form-group">
                               <div class="col-md-10">
                                   @Html.PasswordFor(m => m.ConfirmPassword, new {@id="ConfirmPassword", @class = "form-control" })
                               </div>
                               @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                           </div>
                           <div class="form-group">
                               <div class="col-md-offset-2 col-md-10">
                                   <input type="submit" class="btn btn-default" value="ثبت نام" id="signup"/>
                               </div>
                           </div>
                       }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
