.userTag{
    position: absolute;
    left: 2px;
    top: 2px;
}
.userTag:hover{
    color:#0edbf9;
    cursor: pointer;
}

.userTagBlue{
    color:#1e88e5;

}
.pointer:hover{
    cursor: pointer;
}
.onMobile {
    display: none;
}


@media screen and (max-width: 1366px) {
  
}
@media screen and (max-width: 1024px) {
  
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .onMobile {
        display: inherit/* The width is 100%, when the viewport is 800px or smaller */
    }

    .onDesktop{
        display: none/* The width is 100%, when the viewport is 800px or smaller */
    }
}

@media screen and (max-width: 600px) {
   


}



.onthefly{

    position: fixed;
    left: 20px;
    border:50px solid darkblue;

    top:70%;


}


.inOneLine{
display: flex;
}

.userCard{
    margin-Top:5px
}

.hideWhole{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.showSingle{
     
     z-index: 21;
 }

.alert{
    z-index: 21;
}


.active {
    background-color: #00ACED;
    color:white;
}

 .gapStat{
     height: 10px;
     width: 10px;
     background-color: #29bb1c;
     border-radius: 50%;
     display: inline-block;
     text-align: center;
 }
.MsgCount{
    height: 100%;
    width: 17px;
    background-color: #51a3f1;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: white;
    float: left;
}
.selectedUserInList {
    background-color: bisque;
}

.userInList:hover {
    background-color: aqua;
    cursor: pointer
}


.noMargin {
    margin: 0px;
    padding: 0px;
}


.chatPanel{
    max-height: 500px;
    overflow: auto
    ;
}

.post{
    margin-top: 20px;
}


.chatPanel::-webkit-scrollbar {
    width: 12px;
}

.chatPanel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.chatPanel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}